html{
    scroll-behavior: smooth;
    background-color: rgb(240, 236, 236);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;text-decoration: none;
}

.row{
    width: 100%;
}
.row::after{
    content: " ";
    clear: both;
    display: table;
}
.about::after{
    content: " ";
    clear: both;
    display: table; 
}
.contanar{
 max-width: 1000px;
 margin: auto;
 box-shadow: 1.2px 2.1px 3px rgb(112, 111, 111);
}
[class*="col-"]{
    width: 100%;
}
[class*="col-"]{
    float: left;
}
/* head start */
.opton i{
  color: white;
  font-size: 2rem;
  margin-top: 20px;
}
header{
    text-align: center;
    padding: 10px;
    background-color: black;
    align-items: center;
}
.logo{
    font-size: 3rem;
    margin-top: 10px;
}
.icon{
    padding: 10px;
    color: white; 
    border: 2px solid white;
}
ul li a{
    color: white;
    font-size: 1.7rem;
}
.manu{
    margin-top: 35px;
}
ul li{
    padding: 10px;
}
ul li:hover{
    background-color: gray;
    border-radius: 15px;
}


.hidden{
  display: none;
}
/* header end */
/* bannar start */
  .bannar{
    margin: 30px 0px;
  }
  .assaid{
    padding: 10px;
  }
  .assaid img{
     width: 100%;
     border: 2px solid black;
     text-align: center;
  }
  .main h1{
    background-color: black;
    color: white;
    width: 300px;
    margin: auto;
  }
  .main p{
    text-align: justify;
  }
  .main{
    text-align: center;
  }
/* bannar end */
/* about me start */
.about{
    background-color: rgb(59, 59, 59);
    padding: 15px;
}
.about-me h2{
    text-align: center;
    font-size: 5rem;
    font-family: 'Italianno', cursive;
    color: white;
}
.card{
    text-align: center;
    background-color: gray;
    padding: 5px;
    border-radius: 10px;
    transition: .5s;
}
.card:hover{
    transform: scale(1.1);
}

.card-body{
    padding: 10px;
}
.card h3{
    font-size: 2.1rem;
    padding: 10px;
}
.card p{
    text-align: justify;
    margin: 25px 0px;
}
.card button{
    background-color: orange;
    border: none;
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
    margin: 15px;
    border-radius: 5px;
}
/* about me end */
/* archives start */
      .archives h2{
          text-align: center;
          font-size: 5rem;
          font-family: 'Italianno', cursive;
          margin: 30px 0px;
      }
      .des img{
        height: 135px;
        min-height: auto;
        padding: 0;
        border-radius: 0.6rem;
        margin: 0 auto;
        min-height: 100%;
  }
  .des{
    margin: 30px 0px;  
    text-align: center;
  }
  .des ol li{
    padding: 20px 0px ;
  }
 .des ol li .photo{
    width: 400px;
    height: 270px;
    border: 2px solid;
 }
/* archives end */
/* blog post start */
     .blog h4{
        text-align: center;
        font-family: 'Italianno', cursive;
        font-size: 5rem;
        margin-bottom: 30px;
     }
     
     
     .pic img{
        height: 180px;
     }
     .new{
        padding: 15px;
     }  
     .blog-card .detals{
        margin-left: 7px;
     }  
     .blog-card .detals h5{
        font-size: 2rem;
     }
     .blog-card .detals h6{
        font-size: 1.3rem;
     }
     .blog-card .detals p{
        text-align: justify;
     }
     .blog-card{
        padding: 10px;
        margin: 0 auto;
        box-shadow: 2.2px 3.1px 4px rgb(112, 111, 111);
     }
     .btn{
        background-color: orange;
        border: none;
        border-radius: .2rem;
        font-size: 1.2rem;
        padding: 7px;
        margin-top: 7px;
        font-weight: bold;
     }
/* blog post end */

/* contact start */
  .contact{
    background-color: gray;
    padding: 10px;
  }
  .contact h6{
    color: white;
    font-family: 'Italianno', cursive;
    font-size: 5rem;
    text-align: center;
  }
  .box{
    box-shadow: 4.2px 3.1px 4px rgb(54, 54, 54),-2.5px 1.6px 3px rgb(41, 41, 41);
    margin: 0px 90px; 
    border-radius: 10px;
  }
  .ratul .md{
     padding: 6px;
     color: white;
     text-align: center;
  }
  #fullname{
    height: 2.5rem;
    width: 14rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding: 5px;
    font-size: 1rem;
  }
  #email{
    height: 2.5rem;
    width: 14rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding: 5px;
    font-size: 1rem;
  }
  #massage{
    height: 4rem;
    width: 14rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding: 5px;
    font-size: 1rem;
    margin-right: 15px;
  }
  .submit button{
        background-color: orange;
        border: none;
        border-radius: .2rem;
        font-size: 1.0rem;
        padding: 5px;
        margin-top: 2px;
        font-weight: bold;
        margin-left: 12.5rem;
        margin-bottom: 10px;
  }
/* contact end */
/* footer-body start */
footer{
background-color: black;
color: white;
}
.footer-body{
  text-align: center;
}
.left h6{
  font-size: .9rem;
}
.right ul li a{
  font-size: 1rem; 
}
.right ul li a:hover{
  color: rgb(155, 151, 151);
}
.right ul li{
  transition: .5s;
  display: inline-block;
  margin-top: 15px;
}
.right ul li:hover{
  transform: none;
  text-decoration: none;
  background-color: transparent;
}

/* footer-body end */
/* For desktop: */
@media (min-width:992px) {
    header{
        position: sticky;
        top: 0;
        z-index: 10;
    }
    ul li{
        display: inline-block;
        padding: 10px;
        transition: .4s;
    }
   ul{
    margin-left: 80px;
  }
    ul li:hover{
        text-decoration: underline;
        transform: scale(1.1);
        background-color: transparent;
    }
 ul li a:hover{
        color: rgb(204, 202, 202);
   }
.logo{
    text-align: left;
}
.manu{
    text-align: right;
    margin-top: 5px;
    display: inline-block;
}
.logo{
    margin-top: 0px;
}
.main h1{
   margin: 0;
  }
  .main{
    text-align: left;
    margin-top: 130px;
  }
  .des img{ 
    border-radius: 0.6rem;
    text-align: center;
}
.des{
margin: 30px 0px;
border-top: .1px solid;
border-bottom: .1px solid;
padding: 20px 0px;
}
ol li{
    display: inline-block;
    transition: .4s;
}

ol li:hover{
    transform: scale(1.1);
}
.des ol li .photo{
    width: 12rem;
    height: 11rem;
    padding: 6px;
    border: none;
}

.blog-card{
    display: flex;
    width: 50rem;
    margin: 0 auto;
    box-shadow: 2.2px 3.1px 4px rgb(112, 111, 111);
    transition: .5s;
 }
 .blog-card:hover{
    transform: scale(1.1);
 }
 .blog-card .detals{
    text-align: left;
 }

 .left h6{
  margin-top: 10px;
  margin-right: 120px;
}
.right ul{
  text-align: right;
}

.right ul li{
  margin-top: 0px;
}

.ratul{
  text-align: center;
  height: 15rem;
}
.box{
  margin: 0px 300px;
}
.opton{
  display: none;
  margin-top: 5px;
}
.hidden{
  display: inline-block;
}
 .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

}
